#container{
    min-height: 100%;
}
#top {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 25px;
    padding-bottom: 10px;
    margin: 0px 0px 30px 0px;
}
#menubar{
    font-size: 25px;
}
#content{
    padding: 35px;
    margin: 20px;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: rgba(1, 56, 96, 0.3);
    border-radius: 20px;;
}

#bottom {
    align-self: flex-end;
    background-color: rgba(0, 0, 44, 0.5);
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 10px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: seagreen;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: olivedrab;
  font-weight : bold;
  text-decoration : underline;
}


