
#top {
    position: relative;
    background-color: rgba(0, 79, 39, 0.5);
    color: white;
    padding-bottom: 2px;
    margin: 0px 0px 20px 0px;
    border-radius: 20px;
}

#TCent{
    text-align: center;
    background-position: center;
    background-position: center;
}

#LogLeft{
    margin-top: 30px;
    background-position: center;
    background-image: url(../images/logo1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}

#LogRigth{
    margin-top: 30px;
    background-position: center;
    background-image: url(../images/logo2.png);
    background-size: 110px;;
    background-repeat: no-repeat;
    width: 250px;
    height: 110px;
}

#content{
    background-color: rgba(17, 109, 39, 0.5);
    border-radius: 5px;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: rgba(17, 109, 39, 0.5);
    padding: 0px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


