body {
    width: auto;
    height: 100%;
    background-image: url(../..//resources/images/bbg1.jpg);
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}
.titulos{
    background-color: rgba(172, 109, 39, 0.5);
    font-weight: bold;
}

.PanRangos{
    align-content: center;
    text-align: center;

}
a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

#principal{

    width: auto;
    margin: 0 auto;
}

#princ{
    background-image: url(../..//resources/images/hi.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 10px auto;
    padding: 40px 40px 40px 40px;
    width: 50%;
    text-align: center;
}
#princ h1{
    color: steelblue;
    }
    
#intro{
    
    margin: 20px auto;
    padding: 5px 50px 50px 50px;
    border-radius: 20px;
    width: 80%;
    text-align: center;
  }
  #intro p{
      text-transform: capitalize;
      font-size: 15px;
  }  
#exito{
    background-image: url(../..//resources/images/done.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12%;
    margin: 20px auto;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
}
#exito h1{
    color: steelblue;
}
/**/
