body {
    
    width: auto;
    height: 100%;
    background-image: url(../..//resources/images/bbg1.jpg);
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}
.titulos{
    background-color: rgba(172, 109, 39, 0.5);
    font-weight: bold;
}

.PanRangos{
    align-content: center;
    text-align: center;
    
}
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}



/**/
ui-menu ui-menubar menu{
    background-color: black;
}